<!DOCTYPE html>
<html>
<head>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVBNWNP');</script>
    
  <meta name="yandex-verification" content="08e8d186fcafe8a5" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Продажа новых и б/у шин 16.00R20 Michelin XZL с доставкой по всей России.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link href="icons/startup.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVBNWNP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    

  <nav class="navbar fixed-top">
    <div class="navbar-img"></div>
    <div class="navbar-text">ROCKET SHINA</div>
    <div class="navbar-descr">Продажа новых и б/у шин 16.00R20 Michelin XZL с доставкой по всей России.</div>
    <div class="navbar-icon"></div>
    <div class="navbar-adress"><span>Павелецкая набережная, 2с7 Россия, Москва</span></div>
    <div class="phone-icon"></div>
    <div class="phone-number"><a style="text-decoration:none;color:black;" href="tel:+74993808942">+7 499 380-89-42</a></div>
    <div class="recall" data-toggle="modal" data-target=".bd-example-modal-lg">Перезвоните мне</div>
  </nav>

  <div id="main-block" >
      <div id="big-round"></div>
      <div id="little-round-1"></div>
      <div id="little-round-2"></div>
      <div id="tire"></div>

      <div class="down-arrow" onclick='slowScroll("#main-block ul")'>
        <img src="./icons/right.svg" alt="">
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <h5 style="font-family:'open-sans'">― Отправим в любой город России и Казахстана уже сегодня.</h5>
          <h3 style="font-family:'open-sans-bold'"> Купите вездеходные шины 16.00R20 Michelin XZL с износом менее 10% в 2,5 раза дешевле новых.</h3>
          <h5 style="font-family:'open-sans-bold';margin-top: 5%;">Оставьте заявку и получите <span style="color:red;">скидку 2%</span> на первый заказ</h5>
        </div>

        <div class="col-8 col-md-8 col-sm-8 col-lg-7 col-xl-7">
            <ul id="head-ul">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 co-lg-4 col-xl-4">
                    <li> 
                         
                      <div class="list-outline">
                        <div class="list-inline"></div>
                      </div> 
                    <span> Поставляем шины напрямую из США  </span>                
                  
                  </li>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 co-lg-4 col-xl-4">
                    <li>
                        <div class="list-outline">
                            <div class="list-inline"></div>
                        </div>
                      <span>Отвечаем за качество, т.к. отбираем и проверяем каждую шину</span></li>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 co-lg-4 col-xl-4">
                    <li>
                        <div class="list-outline">
                            <div class="list-inline"></div>
                        </div>
                      <span>Большой выбор шин новых, и б/у с износом от 5 до 30%</span></li>
                  </div>
                </div>
              </ul>
        </div>
      </div>
    
      <div class="row">
          <div class="col-12 col-xl-4 col-lg-4 col-sm-12 col-md-12">
              <button type="button" class="btn btn-lg mt-2 btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg-1">Оставить заявку</button>
          </div>
      </div>

    </div>

<div id="tire-info">
    <div class="down-arrow" onclick='slowScroll("#tire-info")'>
        <img src="./icons/right.svg" alt="">
      </div>
  <center><h2 style="font-family:'open-sans'">Вездеходные грузовые шины в продаже</h2></center>

<div class="container">
        <div class="card-deck">
      <div class="card">
        <!-- <div class="left-arr" id="left-arr-1">
          <img src="./icons/back (1).svg" alt="">
        </div>
        <div class="right-arr" id="right-arr-1">
          <img src="./icons/back (1).svg" alt="">
        </div> -->
        <center><img class="card-img-top" id="card-changing-1" src="./Michelin-XZL новые.jpg" alt="Card image cap"></center>
        <div class="card-body">
          <h5 class="card-title">16.00R20 Michelin XZL <span style="color:red">новые</span></h5>
          <p class="card-text">
            <ul style="font-family: 'open-sans';" class="tire-style">
              <li style="font-family: 'open-sans-bold'">В наличии на складе в Москве</li>
              <li>Годы производства: 2012-2018г.</li>
            </ul>

          </p>
        </div>
        <center><button type="button" class="btn btn-lg mb-4 btn-dark" style="width:80%" data-toggle="modal" data-target=".bd-example-modal-lg">Узнать стоимость</button></center>
      </div>
      <div class="card">
          <div class="left-arr"id="left-arr-2">
              <img src="./icons/back (1).svg" alt="">
            </div>
            <div class="right-arr" id="right-arr-2">
              <img src="./icons/back (1).svg" alt="">
            </div>
          <center><img class="card-img-top" style="width:100%;height:300px;" id="card-changing-2" src="./tire1.jpeg" alt="Card image cap"></center>
        <div class="card-body">
          <h5 class="card-title">16.00R20 Michelin XZL <span style="color:red;">б/у</span></h5>
          <p class="card-text">
          <ul style="font-family: 'open-sans';" class="tire-style">
              <li style="font-family: 'open-sans-bold'">В наличии на складе в Москве</li>
          </ul>
          <ul style="font-family: 'open-sans';" class="tick-style">
              <li>Категория A, износ до 10%</li>
              <li>Категория B, износ до 20%</li>
              <li>Категория C, износ до 30%, либо износ до 10%, но есть деффекты: паутинки, потертости.</li>
          </ul>
          </p>
        </div>
        <center><button type="button" class="btn btn-lg mb-4 btn-dark" style="width:80%" data-toggle="modal" data-target=".bd-example-modal-lg">Узнать стоимость</button></center>
        
      </div>
      <div class="card">
          <!-- <div class="left-arr" id="left-arr-3">
              <img src="./icons/back (1).svg" alt="">
            </div>
            <div class="right-arr" id="right-arr-3">
              <img src="./icons/back (1).svg" alt="">
            </div> -->
          <center><img class="card-img-top" id="card-changing-3" src="./michelin_xzl 14.00R20.jpg" alt="Card image cap"></center>
        <div class="card-body">
          <h5 class="card-title">14.00R20 Michelin XZL <span style="color:red">новые и б/у</span> </h5>
          <p class="card-text">
              <ul style="font-family: 'open-sans';" class="tire-style">
                  <li style="font-family: 'open-sans-bold'">Оптом от 90 шт. Под заказ из США. Срок поставки 1,5 месяца.</li>
              </ul>
          </p>
        </div>
         <center><button type="button" class="btn btn-lg mb-4 btn-dark" style="width:80%" data-toggle="modal" data-target=".bd-example-modal-lg">Узнать стоимость</button></center>
      </div>
    </div>
  </div>
  
</div>

<div id="form-taking">
    <div class="down-arrow" onclick='slowScroll("#perspectives")'>
        <img src="./icons/right.svg" alt="">
      </div>
    <center><h2 style="font-family:'open-sans-bold';margin-bottom: 3%;">Получите актуальный прайс-лист и <span style="color:red;">скидку 2%</span> на первый заказ</h2></center>
    <div id="bg-tire-1"></div>
    <div id="bg-tire-2"></div>
    
    <div id="form-taking-tire"></div>

    <div id="form-tire-img"></div>

      <form id="form-taking-form" action="./mail.php" method='post'>
        <h3 style="font-family:'open-sans-bold';font-size: 18px;line-height: 25px;text-align: center;">Заполните данные и мы  отправим актуальный прайс-лист</h3>
        
        <input type="hidden" name="utm_info" value='Этот пользователь пришел не по UTM'>


        <div class="form-group" style="margin-top: 5%;">
          <label for="email">Введите ваше имя</label>
          <input type="text" name="user_name" class="form-control" placeholder="Иван Иванов">
        </div>

        <div class="form-group">
          <label for="email">Введите ваш e-mail</label>
          <input type="email" name="email" class="form-control" placeholder="example@ex.ru">
        </div>

        <div class="form-group">
            <label for="user-phone-number">Введите ваш номер телефона</label>
            <input type="text" name='phone-number' id="user-phone-number" class="form-control" placeholder="+7(999)999-99-99">
        </div>

        <center><button type="submit" class="btn btn-dark btn-lg submit-form-btn">Получить прайс-лист и скидку</button></center>
        <center><small style="font-size:8px;" >Нажимая на кнопку «Отправить заявку», я соглашаюсь с условиями на передачу персональных данных </small></center>
      </form>
</div>

<div id="perspectives">
    <div class="down-arrow" onclick='slowScroll("#form-taking-2")'>
        <img src="./icons/right.svg" alt="">
      </div>
    <div id="wave-img"></div>
    <center><h2 style="font-family:'open-sans';margin-top: 5%;margin-bottom: 5%;width:80%;" id="why-we-h2">Почему грузовые шины Michelin XZL считают самыми надежными и используют в сложных погодных и дорожных условиях? </h2></center>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <img src="./icons/car.svg" alt="" class="perspective-img">
        <h4 class="perspective-descript">Самоочищающийся протектор шин 16.00 R20 с открытыми плечами и смещением шашек улучшает тяговые и флотационные качества шины.</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="./icons/car.svg" alt="" class="perspective-img">
          <h4 class="perspective-descript">Ненаправленный рисунок и повышенные тяговые свойства позволяют использовать шины Мишлен на снегу, песке, грязи и асфальте, строительных площадках.</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="./icons/car.svg" alt="" class="perspective-img">
          <h4 class="perspective-descript">Широкий стальной пояс и эластичные слои протектора дополнительно защищают шину от большинства возможных повреждений.</h4>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="./icons/car.svg" alt="" class="perspective-img">
          <h4 class="perspective-descript">Шины 16 00 R20 Michelin XZL обладают низкой истираемостью и подходят для различной тяжелой дорожной техники: самосвалов, внедорожных тягачей, буровых колесных установок, пожарных машин, военной техники.</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="./icons/car.svg" alt="" class="perspective-img">
          <h4 class="perspective-descript">Внедорожные шины компании Michelin обладают вдвое большей износостойкостью и надежностью в сравнении с шинами КАМА, Белшина, LingLong, Advance.</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="./icons/car.svg" alt="" class="perspective-img">
          <h4 class="perspective-descript">Благодаря инновационному гибкому каркасу, шины Michelin XZL 16.00Р20 обеспечивают максимально комфортный ход и гарантию безопасности.</h4>
      </div>
    </div>
    <center id="mobile-arrs">
        <div id="left-arr-mobile">
            <img src="./icons/back (1).svg" alt="">
        </div>
        <div id="right-arr-mobile">
            <img src="./icons/back (1).svg" alt="">
        </div>
      </center>
      <hr>
    <div id="description-1">
        <h2 style="font-family:'open-sans-bold';width:80%;">Список грузовой дорожной и внедорожной спецтехники, на которую могут быть установлены шины: </h2>
      
        <div class="row mt-3">
          <div class="col-2">
              МЗКТ-6525,<br> КАМАЗ 43118,<br> 65221,<br> 65222,<br> 6560;<br> КрАЗ 65032;<br> Урал 4320,<br> 63704,
          </div>
          <div class="col-2">
              МАЗ 651705-210.<br> Bedford TM,<br> DAF TREKKER,<br> FAUN,<br> IVECO,<br> MAN,<br> MAN FAUN,<br> Mercedes-Benz Prime Mover,<br> 1636AS,<br> Actros 4053AS,
          </div>
          <div class="col-2">
              MAN FAUN,<br> Mercedes-Benz Prime Mover,<br> 1636AS,<br> Actros 4053AS,<br> 1632,<br> UNIMOG,<br>
          </div>
          <div class="col-2">
              TATRA T 815,<br> T815-230N9T,<br> PHOENIX;<br> Volvo FL12 MT,<br> N10;<br> UNIMOG U1300L,<br>U1400;<br> Volat,<br> Dong Feng и прочие.
          </div>
        </div>
    </div>

    <center><div id="description-2">
        <center><h2 style="font-family:'open-sans-bold'">Список грузовой дорожной и внедорожной спецтехники, на которую могут быть установлены шины: </h2></center>
        <p style="font-family:'open-sans'">
            МЗКТ-6525, КАМАЗ 43118, 65221,65222, 6560; КрАЗ 65032; Урал 4320, 63704,
            МАЗ 651705-210. Bedford TM, DAF TREKKER,FAUN, IVECO, MAN, MAN FAUN, Mercedes-Benz Prime Mover, 1636AS,Actros 4053AS,
            MAN FAUN, Mercedes-Benz Prime Mover, 1636AS, Actros 4053AS, 1632, UNIMOG,
            TATRA T 815, T815-230N9T, PHOENIX;Volvo FL12 MT, N10;UNIMOG U1300L,U1400; Volat, Dong Feng и прочие.
        </p>
    </div></center>

      <div id="round">
          <img src="./backgrounds/ben_xanh_YYu_cheo_phYi.png" alt="">
        </div>

</div>

<div id="why-we">
    
  <center>
    <h2 style="font-family:'open-sans-bold'; margin-top: 3%;margin-bottom: 3%;">Почему Вам стоит купить шины Michelin XZL у нас?</h2>
  </center>

  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <img src="./backgrounds/why-we-1.png" alt="" class="perspective-img">
        <h4 style="font-family: 'open-sans-bold'">Вы знаете, что покупаете</h4>
        <p class="perspective-descript">Мы всегда предлагаем Вам приехать к нам на склад в Москве и самостоятельно выбрать шины. Если такой возможности нет, вы находитесь в регионе - высылаем подробные фото отгружаемых шин.</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <img src="./backgrounds/why-we-2.png" alt="" class="perspective-img">
          <h4 style="font-family: 'open-sans-bold'">Доставка в любой город России и Казахстана</h4>
          <p class="perspective-descript">Получаем от Вас заявку, согласовываем и собираем партию и сразу отправляем Вам транспортной компанией.&nbsp;</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <img src="./backgrounds/why-we-3.png" alt="" class="perspective-img">
          <h4 style="font-family: 'open-sans-bold'">Лучшие цены на рынке</h4>
          <p class="perspective-descript">Мы являемся первым поставщиком из США, а также таможенными брокерами с опытом более 10 лет, что позволяет сократить расходы на логистику и растаможку.</p>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <img src="./backgrounds/why-we-4.png" alt="" class="perspective-img">
          <h4 style="font-family: 'open-sans-bold'">Гибкие условия оплаты</h4>
          <p class="perspective-descript">Вы можете оплатить наличными, картой, безналичным расчетом с НДС и без НДС. Предоставим все документы.</p>
      </div>
    </div>
    <center id="mobile-arrs-why">
        <div id="left-arr-mobile-why">
            <img src="./icons/back (1).svg" alt="">
        </div>
        <div id="right-arr-mobile-why">
            <img src="./icons/back (1).svg" alt="">
        </div>
      </center>
      

</div>

<!-- <div id="referre">
    <center>
        <h2 style="font-family:'open-sans-bold'; margin-top: 3%;margin-bottom: 3%;">Вот некоторые отзывы наших довольных клиентов</h2>
      </center>

    <div id="two-arrows"></div>

    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./backgrounds/2804967836.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          
        </div>
        <div class="card">
          <img class="card-img-top" src="./backgrounds/2804967836.jpg"" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          
        </div>
        <div class="card">
          <img class="card-img-top" src="./backgrounds/2804967836.jpg"" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          
        </div>
      </div>

      <button type="button" id="referre-btn" class="btn btn-lg mb-4 btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg">Узнать стоимость</button>

</div> -->

<div id="form-taking-2">
    <center><h2 style="font-family:'open-sans';margin-top: 3%;margin-bottom: 3%;">Получите актуальный прайс-лист и <span style="color:red;">скидку 2%</span> на первый заказ</h2></center>
    
      <center><form id="form-taking-form-2" action="./mail.php" method='post'>
        <h3 style="font-family:'open-sans-bold';font-size: 18px;line-height: 25px;text-align: center;">Заполните данные и мы отправим актуальный прайс-лист</h3>
        
        <input type="hidden" name="utm_info" value='Этот пользователь пришел не по UTM'>


        <div class="form-group" style="margin-top: 5%;">
          <label for="email">Введите ваше имя</label>
          <input type="text" name="user_name" class="form-control" placeholder="Иван Иванов">
        </div>

        <div class="form-group">
          <label for="email">Введите ваш e-mail</label>
          <input type="email" name="email" class="form-control" placeholder="example@ex.ru">
        </div>

        <div class="form-group">
            <label for="user-phone-number">Введите ваш номер телефона</label>
            <input type="text" name="phone-number" id="user-phone-number" class="form-control" placeholder="+7(999)999-99-99">
        </div>

        <center><button type="submit" class="btn btn-dark btn-lg" class="submit-form-btn">Получить прайс-лист и скидку</button></center>
        <center><small style="font-size:8px;" >Нажимая на кнопку «Отправить заявку», я соглашаюсь с условиями на передачу персональных данных </small></center>
      </form>
    </center>
</div>

<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.4842010929146!2d37.64364531586262!3d55.71533700234849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b3a633dc711%3A0x6b8186640d1fe06!2z0J_QsNCy0LXQu9C10YbQutCw0Y8g0L3QsNCxLiwgMiwg0JzQvtGB0LrQstCwLCAxMTUxMTQ!5e0!3m2!1sru!2sru!4v1580764204281!5m2!1sru!2sru"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>

<footer>
    <div id="go-to-top" onclick='slowScroll("#main-block")'>
        <img src="./icons/right.svg" alt="">
      </div>
    <div class="navbar-img" style="background:url('./backgrounds/logo.jpg') center no-repeat;background-size:contain;"></div>
    <div class="navbar-text">ROCKET SHINA</div>
    <div class="navbar-descr" style="color:white">Продажа новых и б/у шин 16.00R20 Michelin XZL с доставкой по всей России.</div>
    <div class="navbar-icon" onclick=''></div>
    <div class="navbar-adress"><span style="color:white;">Павелецкая набережная, 2с7 Россия, Москва</span></div>
    <div class="phone-icon"></div>
    <div class="phone-number"><a style="text-decoration:none;color:white;" href="tel:+74993808942">+7 499 380-89-42</a></div>
    <div class="recall" data-toggle="modal" data-target=".bd-example-modal-lg">Перезвоните мне</div>
    <a href=""><div class="insta-logo"></div></a>
</footer>

<!-- modal window 1-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content pb-4" style="display:flex;align-items:center;justify-content:center;">
        <center>
          <h2 style="font-family:'open-sans-bold';width:80%;font-size:24px;margin-top: 5%;">Заполните данные и мы отправим актуальный прайс-лист Вам на почту.</h2>
        </center>

        <input type="hidden" name="utm_info" value='Этот пользователь пришел не по UTM'>


          <form method='post' action="./mail.php" style="width: 80%;">
                

        <div class="form-group" style="margin-top: 5%;">
          <label for="email">Введите ваше имя</label>
          <input type="text" name="user_name" class="form-control" placeholder="Иван Иванов">
        </div>

        <input type="hidden" name="utm_info" value='Этот пользователь пришел не по UTM'>


                <div class="form-group">
                  <label for="email">Введите ваш e-mail</label>
                  <input type="email" name="email" class="form-control" placeholder="example@ex.ru">
                </div>
        
                <div class="form-group">
                    <label for="user-phone-number">Введите ваш номер телефона</label>
                    <input type="text" name="phone-number" id="user-phone-number" class="form-control" placeholder="+7(999)999-99-99">
                </div>
        
                <center><button type="submit" class="btn btn-dark btn-lg submit-form-btn p-3">Получить прайс-лист и скидку</button></center>
                <center><small style="font-size:8px;" >Нажимая на кнопку «Отправить заявку», я соглашаюсь с условиями на передачу персональных данных </small></center>
              </form>

      </div>
    </div>
  </div>

<!-- end modal -->

<!-- modal window2 -->

<div class="modal fade bd-example-modal-lg-1 " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content pb-4" style="display:flex;align-items:center;justify-content:center;">
      <center>
        <h2 style="font-family:'open-sans-bold';width:80%;font-size:24px;margin-top: 5%;">Заполните данные и наши менеджеры в течении 20 минут в рабочее время свяжутся с Вами для уточнения деталей.</h2>
      </center>

        <form method='post' action="./request.php" style="width: 80%;">
              

          <input type="hidden" name="utm_info" value='Этот пользователь пришел не по UTM'>

      <div class="form-group" style="margin-top: 5%;">
        <label for="email">Введите ваше имя</label>
        <input type="text" name="user_name" class="form-control" placeholder="Иван Иванов">
      </div>


      <div class="form-group">
        <label for="exampleFormControlSelect1">Тип шин</label>
        <select class="form-control" id="exampleFormControlSelect1" name='tire-type' required>
          <option>16.00R20 новые</option>
          <option>16.00R20 новые б/у</option>
          <option>14.00R20</option>
        </select>
      </div>

      <div class="form-group">
        <label for="user-phone-number">Введите необходимое количество шин</label>
        <input type="text" name="tire-amount" id="user-phone-number" class="form-control" placeholder="1000">
      </div>

              <div class="form-group">
                <label for="email">Введите ваш e-mail</label>
                <input type="email" name="email" class="form-control" placeholder="example@ex.ru">
              </div>
      
              <div class="form-group">
                  <label for="user-phone-number">Введите ваш номер телефона</label>
                  <input type="text" name="phone-number" id="user-phone-number" class="form-control" placeholder="+7(999)999-99-99">
              </div>
      
              <center><button type="submit" class="btn btn-dark btn-lg submit-form-btn p-3">Оставить заявку</button></center>
              <center><small style="font-size:8px;" >Нажимая на кнопку «Отправить заявку», я соглашаюсь с условиями на передачу персональных данных </small></center>
            </form>

    </div>
  </div>
</div>

<!-- end modal -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="./dist/main.js"></script>
<script type="text/javascript">
  function slowScroll(id) {
    var offset = 0;
    $('html, body').animate({
      scrollTop: $(id).offset().top - offset
    }, 1700);
    return false;
  };
</script>


</body>
</html>