<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Только для админов</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% include "preloader-styles.html" %}
    <style>
        body{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
        }
    </style>
</head>
<body>
    {% include "preloader-html.html" %}
    <a href="/guide" class="mb-4">Вернуться назад</a>

    <form method='post' class="border border-primary p-4" enctype="multipart/form-data">
        {% csrf_token %}
        <center><h3>Форма добавления статьи в гайд</h3></center>
        <input type="text" name="subject" class="form-control" placeholder="Заголовок">
        <textarea class="form-control mt-4" name="guide_text" placeholder="Текст инструкции"></textarea>
        <input type="file" class="mt-4" name="image_to_download">

        <button class="btn btn-success btn-block mt-4" type="submit">Подтвердить</button>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
    {% include "preloader-script.html" %}
</body>
</html>