<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mailer</title>
    <style>
    

      .file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 16px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  border:2px solid #e9e9e9;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

@media screen and (max-width:1100px){
  img[style="height:200px;width:200px;"]{
    display: none;
  }
}
  
</style>
    <link href="../static/mail.ico" rel="icon" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-light bg-light sticky-top">
        <form class="form-inline">
          <a class="btn btn-primary mr-2" href="/guide">Инструкция</a>  
          <a class="btn btn-success" href="/logout">Выйти</a>
          {% if is_paid == False %}
          <a class="btn btn-danger ml-2" href="/buy_subscribe">Подписка</a>
          {% endif %}
        </form>
        <a class="navbar-brand" href="#">
          <img src="../static/logo.png" height="30" alt="">
        </a>
      </nav>



      {% for message in messages %}
              <center>
                <div class="alert alert-success message" role="alert">
                    {{ message }}
                </div>
              </center>
      {% endfor %}



      <div class="container-fluid mt-4">

          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Emails</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">SMS</a>
                <a class="nav-item nav-link" id="nav-template-tab" data-toggle="tab" href="#nav-templates" role="tab" aria-controls="nav-template" aria-selected="false">Мои шаблоны</a>
              
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pb-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-4">
                        <div class="col-12 col-sm-12 col-ms-12 col-lg-3 col-xl-3">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">На один ящик</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Из txt файла</a>
                            <a class="nav-link" id="v-pills-config-tab" data-toggle="pill" href="#v-pills-config" role="tab" aria-controls="v-pills-config" aria-selected="false">Конфигурация</a>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-ms-12 col-lg-9 col-xl-9">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        {% if is_paid == True %}
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <center><h2 class="mt-4">Отправка HTML</h2></center>
                                <form method="POST" class="sending-form" enctype="multipart/form-data">
                                  {% csrf_token %}
                              <div class="form-group">
                                    <label for="exampleInputEmail1">Email адрес</label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                                    <small id="emailHelp" class="form-text text-muted">Введите email,на который хотите отправить письмо.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="subject">Введите тему письма</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                    <small class="form-text text-muted">Введите тему письма.</small>
                                  </div>
                                  
                                 
                                  <input type="hidden" name="myself">
                                  <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                          </form>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <center><h2 class="mt-4">Отправка текста</h2></center>
                                <form method="POST" class="sending-form">
                                  {% csrf_token %}

                              <div class="form-group">
                                    <label for="exampleInputEmail1">Email адрес</label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                                    <small id="emailHelp" class="form-text text-muted">Введите email,на который хотите отправить письмо.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="subject">Введите тему письма</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                    <small class="form-text text-muted">Введите тему письма.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                      <label for="subject">Введите сообщение</label>
                                      <textarea  class="form-control" name="message" id="subject" placeholder="Сообщение" required></textarea>
                                      <small class="form-text text-muted">Введите сообщение.</small>
                                  </div>
                                    

                                  <input type="hidden" name="myself_text">
                                  <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                          </form>
                            </div>
                          </div>          
                          
                        {% else %}
                                    <div class="row">
                                      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                        <h2>К сожалению,этот раздел доступен тем,кто купил подписку!</h2>
                                        <p>Вы можете оформить подписку здесь:</p><a class='btn btn-danger btn-lg text-light' href="/buy_subscribe">Купить</a>
                                      </div>
                                      <div class="col-12 col-sm-12 col-md-12 col-lg-0 col-xl-0" style='display:flex;align-items:center;justify-content:center;'>
                                        <img style="height:200px;width:200px;" src="https://image.flaticon.com/icons/svg/2746/2746011.svg" alt="">
                                      </div>
                                    </div>
                                    
                        {% endif %}
    
                            </div>
                            <div class="tab-pane fade pb-4" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                              {% if is_paid == True %}  
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <center>
                                    <h2 class="mt-4">Отправка HTML</h2>
                                  </center>
                                    <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      
                                      <div class="form-group">
                                          <label for="subject">Введите тему письма</label>
                                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                          <small class="form-text text-muted">Введите тему письма.</small>
                                        </div>
        
                                      
                                      <div class='file-input'>
                                        <input type='file' id='email_txt' name="txt_file" required>
                                        <span class='button'>Выберите</span>
                                        <span class='label' style="color:black !important;" id="email_txt_label" data-js-label>Файл не выбран</span>
                                        <input type="hidden" name='email_txt_filename' id='email_txt_filename'>
                                      
                                      </div>
                                      <small class="form-text text-muted">Выберите txt файл,из которого хотите достать почты.</small>
        
                                      <input type="hidden" name="sending_from_txt">
                                      <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                                      
                                  </form>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <center>
                                      <h2 class="mt-4">Отправка текста</h2>
                                    </center>  
                                    <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      
                                      <div class="form-group">
                                          <label for="subject">Введите тему письма</label>
                                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                          <small class="form-text text-muted">Введите тему письма.</small>
                                        </div>
        

                                      <div class="form-group">
                                          <label for="subject">Введите сообщение</label>
                                          <textarea  class="form-control" name="message" id="subject" placeholder="Сообщение" required></textarea>
                                          <small class="form-text text-muted">Введите сообщение.</small>
                                      </div>
                                      
                                      <div class='file-input'>
                                        <input type='file' id='email_txt_text' name="txt_file" required>
                                        <span class='button'>Выберите</span>
                                        <span class='label' style="color:black !important;" id="email_txt_label_text" data-js-label>Файл не выбран</span>
                                        <input type="hidden" name='email_txt_filename_text' id='email_txt_filename_text'>
                                      
                                      </div>
                                      <small class="form-text text-muted">Выберите txt файл,из которого хотите достать почты.</small>
        

                                      <input type="hidden" name="sending_from_txt_text">
                                      <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                                      
                                  </form>
                                </div>
                              </div>
                              
                              {% else %}
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                  <h2>К сожалению,этот раздел доступен тем,кто купил подписку!</h2>
                                  <p>Вы можете оформить подписку здесь:</p><a class='btn btn-danger btn-lg text-light' href="/buy_subscribe">Купить</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-0 col-xl-0" style='display:flex;align-items:center;justify-content:center;'>
                                  <img style="height:200px;width:200px;" src="https://image.flaticon.com/icons/svg/2746/2746011.svg" alt="">
                                </div>
                              </div>
                              {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-config" aria-labelledby="v-pills-pconfig-tab">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                    <h2>Измените вашу конфигурацию</h2>
                                      <form method="POST" class="sending-form">
                                          {% csrf_token %}
                                          <div class="form-group">
                                              <input type="text" name="host" class="form-control" placeholder="smtp.gmail.com" required>
                                              <small>Введитн ваш email host.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="text" name="username" class="form-control" required placeholder="example@gmail.com">
                                            <small>Ваше имя пользователя.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="password" name="password" class="form-control" required placeholder="Password">
                                            <small>Введите пароль от почты.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="number" class="form-control" name="port" required placeholder="587">
                                            <small>Введите порт вашего почтового сервера.</small>
                                          </div>
                                          <div class="row">
                                            <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="use_tls" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      Будем ли мы использовать TLS?
                                                    </label>
                                                  </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="use_ssl" id="defaultCheck2">
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        Будем ли мы использовать SSL?
                                                    </label>
                                                  </div>
                                            </div>
                                          </div>
                                    
                                            <input type="hidden" name="config">
                                            <button class="btn btn-block btn-primary mt-4" type="submit">Изменить</button>
                                        </form>
                                  </div>
                                  
                                  <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                    <h2>Ваша конфигурация</h2>
                                    <ul class="list-group">
                                        <li class="list-group-item"><strong>Email host: </strong>{{request.user.mail_host}}</li>                                        
                                        <li class="list-group-item"><strong>Имя пользователя: </strong>{{request.user.mail_username}}</li>
                                        <li class="list-group-item"><strong>Порт: </strong>{{request.user.mail_port}}</li>
                                        <li class="list-group-item"><strong>Пароль: </strong><span id="mail-password" data-password='{{request.user.mail_password}}'></span> <i class="fas fa-eye" id="eye" style="float: right;color:chocolate"></i></li>
                                        <li class="list-group-item"><strong>Используем ли TLS: </strong>{{request.user.use_tls}}</li>
                                        <li class="list-group-item"><strong>Используем ли SSL: </strong>{{request.user.use_ssl}}</li>
                                      </ul>  
                                  </div>
                                </div>                                
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  
                  <div class="row mt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-phone_one" role="tab" aria-controls="v-pills-phone_one" aria-selected="true">На один номер</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-phone_txt" role="tab" aria-controls="v-pills-phone_txt" aria-selected="false">Из txt файла</a>
                        <!-- <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-phone_config" role="tab" aria-controls="v-pills-phone_config" aria-selected="false">Конфигурация</a> -->
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-phone_one" role="tabpanel" aria-labelledby="v-pills-phone_one-tab">
                          {% if is_paid == True %}
                          <form method='POST' class="sending-form">
                            {% csrf_token %}
                            <input type="hidden" name="one_number_send">
                            <div class="from-group">
                              <label for="phone_number">Номер телефона</label>
                              <input type="text" name='phone_number' class="form-control" placeholder="Телефон">
                              <small>Введите номер телефона,на который хотите отправить SMS.</small>
                            </div>
                            <div class="form-group mt-2">
                              <label for="one_message_body">Сообщение</label>
                              <input type="text" class="form-control" name="one_message_body" placeholder="Сообщение">
                              <small>Введите сообщение,которое хотите отправить.</small>
                            </div>  
                            <button type="submit" class="btn btn-block btn-primary">Отправить</button>
                          </form>
                          {% else %}
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                              <h2>К сожалению,этот раздел доступен тем,кто купил подписку!</h2>
                              <p>Вы можете оформить подписку здесь:</p><a class='btn btn-danger btn-lg text-light' href="/buy_subscribe">Купить</a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-0 col-xl-0" style='display:flex;align-items:center;justify-content:center;'>
                              <img style="height:200px;width:200px;" src="https://image.flaticon.com/icons/svg/2746/2746011.svg" alt="">
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-phone_txt" role="tabpanel" aria-labelledby="v-pills-phone_txt-tab">
                          {% if is_paid == True %}  
                          <form method='POST' enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="txt_number_send">
                                
                                <div class="form-group mt-2">
                                  <label for="one_message_body">Сообщение</label>
                                  <input type="text" class="form-control" name="one_message_body" placeholder="Сообщение">
                                  <small>Введите сообщение,которое хотите отправить.</small>
                                </div> 
                                <div class='file-input'>
                                    <input type='file' id="sms_txt_file" name="txt_file" required>
                                    <span class='button'>Выберите</span>
                                    <span class='label' style="color:black !important;" data-js-label id='sms_txt_label'>Файл не выбран</label>
                                  </div>
                                  <input type="hidden" name='sms_txt_filename' id='sms_txt_filename'>
                                  
                                  <small class="form-text text-muted">Выберите txt файл,который в котором нужно найти номера телефонов.</small>
     
                                <button type="submit" class="btn btn-block btn-primary mt-2">Отправить</button>
                              </form>
                              {% else %}
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                  <h2>К сожалению,этот раздел доступен тем,кто купил подписку!</h2>
                                  <p>Вы можете оформить подписку здесь:</p><a class='btn btn-danger btn-lg text-light' href="/buy_subscribe">Купить</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-0 col-xl-0" style='display:flex;align-items:center;justify-content:center;'>
                                  <img style="height:200px;width:200px;" src="https://image.flaticon.com/icons/svg/2746/2746011.svg" alt="">
                                </div>
                              </div>
                              {% endif %}
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-phone_config" role="tabpanel" aria-labelledby="v-pills-phone_config-tab">

                            <div class="row">
                                <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                  <h2>Измените конфигурацию</h2>
                                    <form method="POST" class="sending-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="twilio_sid" class="form-control" placeholder="account_sid" required>
                                            <small>Введите ваш twilio account_sid.</small>
                                        </div>
                                        <div class="form-group">
                                          <input type="text" name="twilio_token" class="form-control" required placeholder="auth_token">
                                          <small>Введите ваш twilio auth_token.</small>
                                        </div>
                                        <div class="form-group">
                                          <input type="text" name="twilio_number" class="form-control" required placeholder="number">
                                          <small>Введите ваш new twilio number</small>
                                        </div>
                                        
                                  
                                          <input type="hidden" name="twilio_config">
                                          <button class="btn btn-block btn-primary mt-4" type="submit">Отправить</button>
                                      </form>
                                </div>
                                <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                  <h2>Ваша конфигурация</h2>
                                  <ul class="list-group">
                                      <li class="list-group-item"><strong>Account sid: </strong>{{request.user.twilio_account_sid}}</li>                                        
                                      <li class="list-group-item"><strong>Auth token: </strong>{{request.user.twilio_auth_token}}</li>
                                      <li class="list-group-item"><strong>Twilio номер телефона: </strong>{{request.user.twilio_phone_number}}</li>
                                      </ul>  
                                </div>
                              </div>

                        </div> -->
                      </div>
                    </div>
                  </div>


                </div>
                
                <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-template-tab">
                  
                  <form method="POST" class="mt-4" enctype="multipart/form-data" id="upload_html_file_form">
                    {% csrf_token %}
                    <input type="hidden" value="" id="dowload_file_name" name="html_file_download">

                    <div class='file-input' id="file-download">
                      <input type='file' name="html_file" id='upload_html_file'>
                      <span class='button'>Выбрать</span>
                      <span class='label' id="html_download_label" style="color:black !important;" data-js-label>Файл не выбран</label>
                    </div>
                    <small class="form-text text-muted">Выберите HTML шаблон,который хотите сделать активным.</small>


                  </form>


                  <div class="row mt-4">
                    {% for template in all_user_templates %}
                    <div class="col-sm-12 col-12 col-lg-3 col-xl-3 col-md-12" style="text-align: center;">
                      <div class="card template_change_card" style='{% if template.our_file.url == request.user.active_template%}border:3px solid #007bff{%endif%}'>
                        <div class="card-body">
                          <form class="change_active_template_form" class="sending-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="template_url" value="{{template.our_file.url}}">
                            <input type="hidden" name="template_id" value='{{template.id}}'>
                            <h5 class="card-title">{{template.filename}}</h5>
                          </form>
                          <a href="/preview?id={{template.id}}" class="btn btn-primary btn-block preview-button" id='preview_btn'>Посмотреть</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
                  
              </div>
      </div>



      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <script src="../static/js/script.js"></script>

</body>
</html>