<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mailer</title>
    <style>
    
@media screen and (max-width:1100px){
  #gmail_com{
    margin-top: 30px;
  }
  #nav-get{
    padding:1% !important; 
  }
  #mobile-best-price{
    display: block !important;
  }
}

      #mail_ru,#gmail_com{
        transition: 0.4s;
      }
      #mail_ru:hover,#gmail_com:hover{
        transform: scale(1.1);
        cursor:pointer;
      }


      .file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 16px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  border:2px solid #e9e9e9;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}


@media screen and (max-width:1100px){
  img[style="height:200px;width:200px;"]{
    display: none;
  }
}
</style>

{% include "preloader-styles.html" %}

<link href="../static/images/mail.ico" rel="icon" type="image/x-icon">
</head>
<body>
    
      {% include "preloader-html.html" %}
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="/">
              <img src="../static/images/logo.png" height="30" alt="">
            </a>    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/guide">Инструкция❓</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/buy_subscribe">Товары💶</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Выйти📛</a>
                  </li>
              </ul>
              
              <form class="my-2 my-lg-0">
                  <p><b>{{request.user.username}}</b><br>
                    Баланс:<span class="text-danger">{{balance}}💰</span>
                     <br>
                     <a href='#' data-toggle="modal" data-target="#payment-modal">Пополнить</a>   
                  </p> 
              </form>

          </div>
        </nav>

        <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Пополнить баланс</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method='POST' id='payment-form'>
                  <div class="modal-body">
                    <div class="form-group m-0">
                      <input type="number" name='sum' class="form-control pay" placeholder="Сумма">
                      <input type="hidden" name='add_balance'>
                    </div>
                  </div>
                <div class="modal-footer">
                  <button type="button" type='submit' class="btn btn-outline-primary btn-block pay_button" >Подтвердить</button>
                </div>
              </form>
              </div>
            </div>
          </div>

      {% for message in messages %}
              <center class="messages">
                <div {% if message.tags == 'error' %} class="alert message alert-success" {% else %} class="alert message alert-danger" {% endif %} role="alert">
                    {{ message }}
                </div>
              </center>
      {% endfor %}



      <div class="container-fluid mt-4">

          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Emails</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Сбор клиентов</a>
                <a class="nav-item nav-link" id="nav-get-tab" data-toggle="tab" href="#nav-get" role="tab" aria-controls="nav-get" aria-selected="false">Средняя стоимость товара</a>
                <a class="nav-item nav-link" id="nav-template-tab" data-toggle="tab" href="#nav-templates" role="tab" aria-controls="nav-template" aria-selected="false">Мои шаблоны</a>
                <a class="nav-item nav-link" id="nav-statistic-tab" data-toggle="tab" href="#nav-statistic" role="tab" aria-controls="nav-statistic" aria-selected="false">Статистика</a>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pb-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-4">
                        <div class="col-12 col-sm-12 col-ms-12 col-lg-3 col-xl-3">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">На один ящик</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Из txt файла</a>
                            <a class="nav-link" id="v-pills-config-tab" data-toggle="pill" href="#v-pills-config" role="tab" aria-controls="v-pills-config" aria-selected="false">Конфигурация</a>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-ms-12 col-lg-9 col-xl-9">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <center><h2 class="mt-4">Отправка HTML</h2></center>
                                <form method="POST" class="sending-form" enctype="multipart/form-data">
                                  {% csrf_token %}
                              <div class="form-group">
                                    <label for="exampleInputEmail1">Email адрес</label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                                    <small id="emailHelp" class="form-text text-muted">Введите email,на который хотите отправить письмо.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="subject">Введите тему письма</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                    <small class="form-text text-muted">Введите тему письма.</small>
                                  </div>
                                  
                                 
                                  <input type="hidden" name="myself">
                                  <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                          </form>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <center><h2 class="mt-4">Отправка текста</h2></center>
                                <form method="POST" class="sending-form">
                                  {% csrf_token %}

                              <div class="form-group">
                                    <label for="exampleInputEmail1">Email адрес</label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                                    <small id="emailHelp" class="form-text text-muted">Введите email,на который хотите отправить письмо.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="subject">Введите тему письма</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                    <small class="form-text text-muted">Введите тему письма.</small>
                                  </div>
                                  
                                  <div class="form-group">
                                      <label for="subject">Введите сообщение</label>
                                      <textarea  class="form-control" name="message" id="subject" placeholder="Сообщение" required></textarea>
                                      <small class="form-text text-muted">Введите сообщение.</small>
                                  </div>
                                    

                                  <input type="hidden" name="myself_text">
                                  <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                          </form>
                            </div>
                          </div>          
                          
                        
                            </div>
                            <div class="tab-pane fade pb-4" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                              
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                  <center>
                                    <h2 class="mt-4">Отправка HTML</h2>
                                  </center>
                                    <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      
                                      <div class="form-group">
                                          <label for="subject">Введите тему письма</label>
                                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                          <small class="form-text text-muted">Введите тему письма.</small>
                                        </div>
        
                                      
                                      <div class='file-input'>
                                        <input type='file' id='email_txt' name="txt_file" required>
                                        <span class='button'>Выберите</span>
                                        <span class='label' style="color:black !important;" id="email_txt_label" data-js-label>Файл не выбран</span>
                                        <input type="hidden" name='email_txt_filename' id='email_txt_filename'>
                                      
                                      </div>
                                      <small class="form-text text-muted">Выберите txt файл,из которого хотите достать почты.</small>
        
                                      <input type="hidden" name="sending_from_txt">
                                      <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                                      
                                  </form>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <center>
                                      <h2 class="mt-4">Отправка текста</h2>
                                    </center>  
                                    <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      
                                      <div class="form-group">
                                          <label for="subject">Введите тему письма</label>
                                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                                          <small class="form-text text-muted">Введите тему письма.</small>
                                        </div>
        

                                      <div class="form-group">
                                          <label for="subject">Введите сообщение</label>
                                          <textarea  class="form-control" name="message" id="subject" placeholder="Сообщение" required></textarea>
                                          <small class="form-text text-muted">Введите сообщение.</small>
                                      </div>
                                      
                                      <div class='file-input'>
                                        <input type='file' id='email_txt_text' name="txt_file" required>
                                        <span class='button'>Выберите</span>
                                        <span class='label' style="color:black !important;" id="email_txt_label_text" data-js-label>Файл не выбран</span>
                                        <input type="hidden" name='email_txt_filename_text' id='email_txt_filename_text'>
                                      
                                      </div>
                                      <small class="form-text text-muted">Выберите txt файл,из которого хотите достать почты.</small>
        

                                      <input type="hidden" name="sending_from_txt_text">
                                      <button type="submit" class="btn btn-primary btn-block mt-4">Отправить</button>
                                      
                                  </form>
                                </div>
                              </div>
                              
                              
                            </div>
                            <div class="tab-pane fade" id="v-pills-config" aria-labelledby="v-pills-pconfig-tab">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                    <h2>Измените вашу конфигурацию</h2>
                                      <form method="POST" class="sending-form">
                                          {% csrf_token %}
                                          <div class="form-group">
                                              <input type="text" name="host" class="form-control host" placeholder="smtp.gmail.com" required>
                                              <small>Введитн ваш email host.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="text" name="username" class="form-control" required placeholder="example@gmail.com">
                                            <small>Ваше имя пользователя.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="password" name="password" class="form-control" required placeholder="Password">
                                            <small>Введите пароль от почты.</small>
                                          </div>
                                          <div class="form-group">
                                            <input type="number" class="form-control port" name="port" required placeholder="587">
                                            <small>Введите порт вашего почтового сервера.</small>
                                          </div>
                                          <div class="row">
                                            <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                                <div class="form-check">
                                                    <input class="form-check-input use_tls" type="checkbox" name="use_tls" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      Будем ли мы использовать TLS?
                                                    </label>
                                                  </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                                <div class="form-check">
                                                    <input class="form-check-input use_ssl" type="checkbox" name="use_ssl" id="defaultCheck2">
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        Будем ли мы использовать SSL?
                                                    </label>
                                                  </div>
                                            </div>
                                          </div>
                                    
                                            <input type="hidden" name="config">
                                            <button class="btn btn-block btn-primary mt-4" type="submit">Изменить</button>
                                        </form>
                                  </div>
                                  
                                  <div class="col-12 col-sm-12 col-ms-12 col-lg-6 col-xl-6">
                                    <h2>Ваша конфигурация</h2>
                                    <ul class="list-group">
                                        <li class="list-group-item"><strong>Email host: </strong>{{request.user.mail_host}}</li>                                        
                                        <li class="list-group-item"><strong>Имя пользователя: </strong>{{request.user.mail_username}}</li>
                                        <li class="list-group-item"><strong>Порт: </strong>{{request.user.mail_port}}</li>
                                        <li class="list-group-item"><strong>Пароль: </strong><span id="mail-password" data-password='{{request.user.mail_password}}'></span> <i class="fas fa-eye" id="eye" style="float: right;color:chocolate"></i></li>
                                        <li class="list-group-item"><strong>Используем ли TLS: </strong>{{request.user.use_tls}}</li>
                                        <li class="list-group-item"><strong>Используем ли SSL: </strong>{{request.user.use_ssl}}</li>
                                      </ul>  
                                      <center>
                                        <div class="row mt-4" style="width:70%;">
                                        <div id="mail_ru" style="padding: 10px 0;border-radius:10px; " class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 border border-primary ">
                                          <center><img style="width:20%;" src="../static/images/mail_ru.png" alt="">  </center>
                                        </div>
                                        <div class="col-2"></div>
                                        <div id="gmail_com" style="padding: 10px 0;border-radius:10px;" class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 border border-primary ">
                                        <center><img style='width:20%;' src="../static/images/gmail_com.png" alt=""></center>
                                        </div>
                                      </div> 
                                    </center> 
                                  </div>
                                </div>                                
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="tab-pane fade" style="padding:0 10% 5% 10%;" id="nav-get" role="tabpanel" aria-labelledby="nav-get-tab">
                  
                    <div class="row mt-4">
                        <div class="col-12">
                          <center><h1>График средней стоимости</h1></center>
                          <form method="POST" id="get_average_sum">
                            
                            <input type="hidden" name="get_average_sum">
                          <center>
                          <div style="width:80%;" class="input-group mb-3">
                              <input name="query" id="average_query" type="text" class="form-control" placeholder="Название товара" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="what_price">Узнать</button>
                              </div>
                          </div>
                        </center>
                          <center><h4>Средняя цена: <span id="average_span">0</span>₽</h4></center>
                          <canvas id="average"></canvas>
                        </form>
                          <center><img id="mobile-best-price" src="../static/images/bubble-speech.svg" style="width:80%;height:auto;display: none;" alt=""></center>

                        </div>
                      </div>

                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  
                  <div class="row mt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-phone_one" role="tab" aria-controls="v-pills-phone_one" aria-selected="true">Сбор клиентов tiu.ru</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-phone_txt" role="tab" aria-controls="v-pills-phone_txt" aria-selected="false">Сбор клиентов avito.ru</a>
                        <!-- <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-phone_config" role="tab" aria-controls="v-pills-phone_config" aria-selected="false">Сбор клиентов youla.ru</a> -->
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-phone_one" role="tabpanel" aria-labelledby="v-pills-phone_one-tab">
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <center><h1 class="mb-4">Собираем вам клиентов с сайта <a href="https://tiu.ru">tiu.ru</a></h1></center>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="query" class="form-control" placeholder="Запрос..." required>
                                    <small>По какому запросу мы ищем клиентов(Например,: <span class="text-danger">iphone 7</span>,<span class='text-warning'>грузовые шины</span> и т.д.)</small>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Получить клиентов</button>
                                <input type="hidden" name='parse-tiu'>
                                </form>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              
                              <center><h1 class="mb-4">Ваши файлы с клиентами</h1></center>
                              {% if parse_length != 0 %}
                              <div class="row">
                                {% for file in all_user_parses %}
                                  <div class="col-6"><center><a href="{{file.url}}" download>{{file.filename}} ️️⤵️</a></center></div>
                                {% endfor %}
                                </div>
                              {% else %}
                              <center><h4 class="mb-4">К сожлалению у вас пока что нет файлов с клиентами</h4></center>
                              <center><img style="width:80%;" src="https://image.flaticon.com/icons/png/256/1437/1437185.png" alt=""></center>
                              {% endif %}
                            </div>
                          </div>  
                          
                        </div>
                        <div class="tab-pane fade" id="v-pills-phone_txt" role="tabpanel" aria-labelledby="v-pills-phone_txt-tab">
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <center><h1 class="mb-4">Собираем вам клиентов с сайта <a href="https://avito.ru">avito.ru</a></h1></center>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="query" class="form-control" placeholder="Запрос..." required>
                                        <small>По какому запросу мы ищем клиентов(Например,: <span class="text-danger">iphone 7</span>,<span class='text-warning'>грузовые шины</span> и т.д.)</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Получить клиентов</button>
                                    <input type="hidden" name='parse-avito'>
                                    </form>
    
                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <center><h1 class="mb-4">Ваши файлы с клиентами</h1></center>
                                {% if parse_length != 0 %}
                                <div class="row">
                                {% for file in all_user_parses %}
                                  <div class="col-6"><center><a href="{{file.url}}" download>{{file.filename}} ️️⤵️</a></center></div>
                                {% endfor %}
                                </div>
                                {% else %}
                                <center><h4 class="mb-4">К сожалению у вас пока что нет файлов с клиентами</h4></center>
                                <center> <img style="width:80%;" src="https://image.flaticon.com/icons/svg/545/545927.svg" alt=""></center>
                                {% endif %}
                              </div> 
                            </div>      
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-phone_config" role="tabpanel" aria-labelledby="v-pills-phone_config-tab">

                            
                        </div> -->
                      </div>
                    </div>
                  </div>


                </div>
                
                <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-template-tab">
                  
                  <form method="POST" class="mt-4" enctype="multipart/form-data" id="upload_html_file_form">
                    {% csrf_token %}
                    <input type="hidden" value="" id="dowload_file_name" name="html_file_download">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                          <div class='file-input' id="file-download">
                              <input type='file' name="html_file" id='upload_html_file'>
                              <span class='button'>Выбрать</span>
                              <span class='label' id="html_download_label" style="color:black !important;" data-js-label>Файл не выбран</label>
                            </div>
                          </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2" style="display:flex;align-items:center;justify-content:center;flex-direction:column;">
                          <a href="/editor" class="btn btn-secondary btn-block btn-lg">Редактор шаблонов</a>
                      </div>
                  </div>

                  </form>


                  <div class="row mt-4">
                    {% for template in all_user_templates %}
                    <div class="col-sm-12 col-12 col-lg-3 col-xl-3 col-md-12" style="text-align: center;">
                      <div class="card template_change_card" style='{% if template.our_file.url == request.user.active_template%}border:3px solid #007bff{%endif%}'>
                        <div class="card-body">
                          <form class="change_active_template_form" class="sending-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="template_url" value="{{template.our_file.url}}">
                            <input type="hidden" name="template_id" value='{{template.id}}'>
                            <h5 class="card-title">{{template.filename}}</h5>
                          </form>
                          <a href="/preview?id={{template.id}}" class="btn btn-primary btn-block preview-button" id='preview_btn'>Посмотреть</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% for template in all_user_templates_from_constructor %}
                    <div class="col-sm-12 col-12 col-lg-3 col-xl-3 col-md-12" style="text-align: center;">
                      <div class="card template_change_card" style='{% if template.url == request.user.active_template%}border:3px solid #007bff{%endif%}'>
                        <div class="card-body">
                          <form class="change_active_template_form" class="sending-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="template_construct_url" value="{{template.url}}">
                            <input type="hidden" name="template_construct_id" value='{{template.id}}'>
                            <h5 class="card-title">{{template.filename}}</h5>
                          </form>
                          <a href="/preview_from_constructor?id={{template.id}}" class="btn btn-primary btn-block preview-button" id='preview_btn'>Посмотреть</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
                  
                <div class="tab-pane fade" id="nav-statistic" role="tabpanel" aria-labelledby="nav-statistic-tab">
                 
                  <div class="row mt-4">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <center><h4>Статистика Email</h4></center>
                      <canvas id="email_statistics"></canvas>
                      <div class="row mt-4">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <h4>Отправлено: <span class="text-success" id="sent_mails">{{request.user.sent}}</span></h4>
                              <h4>Не отправлено: <span class="text-danger" id="unsent_mails">{{request.user.unsent}}</span></h4>
                              <h4>Осталось: <span class="text-warning">{{request.user.emails_amount}}</span></h4>
                          </div>
                          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <center>
                                  <img style="height:150px;width:150px;" src="https://image.flaticon.com/icons/svg/2546/2546419.svg" alt="">
                                </center>
                          </div>
                      </div>
                      
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <center><h4>Статистика Сбора клиентов</h4></center>
                      <canvas id="parsing_statistics"></canvas>
                      
                      <div class="row mt-4">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <h4>Распарсилось: <span class="text-success" id="parsed">{{request.user.parsed}}</span></h4>
                            <h4>Не распарсилось: <span class="text-danger" id="unparsed">{{request.user.unparsed}}</span></h4>
                            <h4>Осталось avito.ru: <span class="text-warning">{{request.user.parse_avito_amount}}</span></h4>
                            <h4>Осталось tiu.ru: <span class="text-warning">{{request.user.parse_tiu_amount}}</span></h4>
                            
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                           <center>
                             <img style="height:150px;width:150px;" src="https://image.flaticon.com/icons/svg/2498/2498483.svg" alt="">
                           </center>
                        </div>

                      </div>
                      

                    </div>
                  </div>

                  

                </div>

              </div>
      </div>

      {% include "preloader-script.html" %}
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script src="../static/js/script.js"></script>
      {% include "payment-widget.html" %}
      {% include "avg-price.html" %}

      </body>
</html>