<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/images/mail.ico" rel="icon" type="image/x-icon">

    <style>

.boxes {
  margin: auto;
  padding: auto;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

        @media screen and (max-width:1100px){
            .qr-btn{
            padding-left: 0;
            padding-right: 0 !important;
            }

            .buy-btn{
                padding-right: 0;
                margin-top: 10px;
            }
            .boxes{
              margin-top:5%;
            }
        }
        

        .range-wrapper {
	        position: relative;
           
        }

.range-value:before {
	background-color: #ffffff;
	content: '';
	height: 10px;
	left: -5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotateZ(45deg);
	width: 10px;
}

.range-value {
	background-color: #ffffff;
	padding: 2px;
	right: 0;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 60px;
  z-index:9999;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #00bcd4;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

.range {
	-webkit-appearance: none;
	background-color: #111111;
	border-radius: 2px;
	cursor: pointer;
	height: 2px;
	outline: 0;
	width: 90%;
  opacity:0.5;
}

    </style>

{% include "preloader-styles.html" %}

    <title>Оформление подписки</title>
</head>
<body>

    {% include "preloader-html.html" %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/">
            <img src="../static/images/logo.png" height="30" alt="">
          </a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/main">Главная📺</a>
            </li>    
            <li class="nav-item">
                  <a class="nav-link" href="/guide">Инструкция❓</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти📛</a>
                </li>
            </ul>
         
            <form class="my-2 my-lg-0">
                <p><b>{{request.user.username}}</b><br>
                  Баланс:<span class="text-danger">{{balance}}💰</span>
                   <br>
                   <a href='#' data-toggle="modal" data-target="#payment-modal">Пополнить</a>   
                </p> 
            </form>

        </div>
      </nav>

      <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Пополнить баланс</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method='POST' id='payment-form'>
                <div class="modal-body">
                  <div class="form-group m-0">
                    <input type="number" name='sum' class="form-control pay" placeholder="Сумма">
                    <input type="hidden" name='add_balance'>
                  </div>
                </div>
              <div class="modal-footer">
                <button type="button" type='submit' class="btn btn-outline-primary btn-block pay_button" >Подтвердить</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        

        {% for message in messages %}
              <center class="messages">
                <div {% if message.tags == 'error' %} class="alert message alert-success" {% else %} class="alert message alert-danger" {% endif %} role="alert">
                    {{ message }}
                </div>
              </center>
      {% endfor %}
      <div class="container-fluid mt-4">

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Тарифные планы <img style="height:60px;width:60px;" src="https://image.flaticon.com/icons/svg/506/506766.svg" alt=""> </h1>
          </div>
      
          <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow" style="padding-bottom:20px;">
                <form method='post'>
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Конверсия + </h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">17.599₽  <small style="font-size:24px;" class="text-secondary"><s>31.900₽</s></small></h1>
                  <ul class="list-unstyled mt-3 mb-4" style="text-align:left;">
                    <li><span class="text-success">30.000</span> e-mail для отправка</li>
                    <li><span class="text-success">15.000</span> клиентов с tiu.ru</li>
                    <li><span class="text-success">15</span> запросов средней цены товара</li>
                    <li><span class="text-success">5</span> шаблонов для ваших писем</li>
                    <li>Консультация по использованию Mailer</li>
                    <li>&#12288;</li>
                  </ul>
                </div>
                
                <input type="hidden" name='conversy_plus'>

                <center>
                        <div class="row" style="width:80%;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button  type="submit" class="btn btn-lg btn-block btn-success">Оплатить</button>
                        </div>
                        </div>
                    </center>
                  </form>
            </div>
              <div class="card mb-4 box-shadow" style="padding-bottom:20px;">
                <form method='post'>
                  {% csrf_token %}
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Продавец года</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">22.999₽  <small style="font-size:24px;" class="text-secondary"><s>39.400₽</s></small></h1>
                  <ul class="list-unstyled mt-3 mb-4" style="text-align:left;">
                    <li><span class="text-success">70.000</span> e-mail для отправка</li>
                    <li><span class="text-success">15.000</span> клиентов с tiu.ru</li>
                    <li><span class="text-success">20.000</span> клиентов с avito.ru</li>
                    <li><span class="text-success">10</span> запросов средней цены товара</li>
                    <li><span class="text-success">20</span> шаблонов для ваших писем</li>
                    <li>Консультация по использованию Mailer</li>
                  </ul>
                </div>
                
                <input type="hidden" name="sell_of_the_year">

                <center>
                        <div class="row" style="width:80%;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="submit" class="btn btn-lg btn-block btn-success">Оплатить</button>
                        </div>
                        </div>
                    </center>
                </form>
            </div>
              <div class="card mb-4 box-shadow" style="padding-bottom:20px;">
                <form method="POST">
                  {% csrf_token %}
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Продажи 2.0</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">25.999₽ <small style="font-size:24px;" class="text-secondary"><s>59.550₽</s></small></h1>
                  <ul class="list-unstyled mt-3 mb-4" style="text-align:left;">
                    <li><span class="text-success">100.000</span> e-mail для отправка</li>
                    <li><span class="text-success">30.000</span> клиентов с tiu.ru</li>
                    <li><span class="text-success">25.000</span> клиентов с avito.ru</li>
                    <li><span class="text-success">15</span> запросов средней цены товара</li>
                    <li><span class="text-success">50</span> шаблонов для ваших писем</li>
                    <li>Консультация по использованию Mailer</li>
                  
                  </ul>
                </div>
                <center>
                    <div class="row" style="width:80%;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="submit" class="btn btn-lg btn-block btn-success">Оплатить</button>
                        </div>
                    </div>
                </center>
                <input type="hidden" name="sells_2.0">
              </form>
            </div>
            </div>
            
            <hr>
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Конструктор тарифа</h1>
            </div>
          
            <form method='post'>
              {% csrf_token %}
            <div class="row pb-4">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <h4> Необходимое количество email </h4>  
                  <div class='range-wrapper'>
                      <span class="range-value border border-primary">
                        5000
                      </span>
                    
                      <input type="range" disabled class="range" min="5000" max="50000" name='email_amount' value="0">
                    </div>
      
      
                    <h4 class="mt-4"> Необходимое количество клиентов с avito.ru </h4>
                    <div class='range-wrapper'>
                        <span class="range-value border border-primary">
                          1500
                        </span>
                      
                        <input type="range" disabled class="range" min="1500" max="20000" name="avito_amount" value="0">
                      </div>
      
                      <h4 class="mt-4"> Необходимое количество клиентов с tiu.ru </h4>
      
                    <div class='range-wrapper'>
                        <span class="range-value border border-primary">
                          1000
                        </span>
                          
                        <input type="range" disabled class="range" min="1000" max="15000" name="tiu_amount" value="0">
                      </div>
                    
                      <h4 class="mt-4"> Необходимое количество шаблонов для ваших писем </h4>
      

                      <div class='range-wrapper'>
                        <span class="range-value border border-primary">
                          1
                        </span>
                      
                        <input type="range" disabled class="range" min="1" max="100" name='templates_amount' value="0">
                      </div>


                      <h4 class="mt-4"> Необходимое количество запросов средней цены </h4>
      
                      <div class='range-wrapper'>
                        <span class="range-value border border-primary">
                          1
                        </span>
                      
                        <input type="range" disabled class="range" min="1" max="10" name='avg_price_amount' value="0">
                      </div>

                      <input type="hidden" id="hid_constructor" name="constructor_sum" value='0'>
        
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 boxes" >
                  <input type="checkbox" class="boxes_check" id="box-1">
                  <label for="box-1">Emails</label>

                  <input type="checkbox" class="boxes_check" id="box-2">
                  <label for="box-2">Avito</label>

                  <input type="checkbox" class="boxes_check" id="box-3">
                  <label for="box-3">Tiu</label>

                  <input type="checkbox" class="boxes_check" id="box-4">
                  <label for="box-4">Шаблоны</label>

                  <input type="checkbox" class="boxes_check" id="box-5">
                  <label for="box-5">Средняя цена</label>

              </div>

              <div style="display:flex;align-items:center;justify-content:center;flex-direction:column;" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <center><h1 style="font-size:75px;"> <span id="pay_construct">0</span> <span class="text-dark">₽</span></h1></center>
                  <center><button type="submit" class="btn btn-outline-primary btn-lg">Оплатить</button></center>
                </div>
            </div>
          </form>

            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <h3><b>Служба поддержки:</b></h3> <p>+7(909)799-03-05 <br> <a href="mailto:mailer-help@list.ru" class="text-info">mailer-help@list.ru </a></p>
                </div>
            </div>
                 
      </div>

      


      

      {% include "preloader-script.html" %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% include "payment-widget.html" %}
    <script type="text/javascript">
        const delete_all_msg = () => {
        const messages = document.querySelectorAll('.message');
        messages.forEach(item => {
          setTimeout(() => {
            item.remove();
          },5000)
        })
      
    }

      window.addEventListener('load',() => {
        if(document.querySelectorAll('.message') != null && document.querySelectorAll('.message') != undefined){
          delete_all_msg()
        }
      })
        
        const all_ranges = document.querySelectorAll('.range'),
              all_wrappers = document.querySelectorAll('.range-wrapper'),
              all_values = document.querySelectorAll('.range-value');
        
        const money = document.getElementById('pay_construct'),
              hid_constructor = document.getElementById('hid_constructor');

        const history = {
          emails:0.0,
          avito:0.0,
          tiu:0.0,
          templates:0.0,
          avg_requests:0.0
        }
        
        const boxes_check = document.querySelectorAll('.boxes_check');
        boxes_check.forEach((item,index) => {
            item.addEventListener('change',() => {
              if (!item.checked){
                all_ranges[index].setAttribute('disabled',true);
                all_ranges[index].style.opacity = 0.5;
                index == 0 ? history.emails = 0.0 : index == 1 ? history.avito = 0.0 : index == 2 ? history.tiu = 0.0 : index == 3 ? history.templates = 0.0 : index == 4 ? history.avg_requests = 0.0 : null
                all_ranges[index].value = 0
                index == 0 ? all_values[index].textContent = 5000 : index == 1 ? all_values[index].textContent = 1500 : index == 2 ? all_values[index].textContent = 1500 : (index == 3 || index == 4 ) ? all_values[index].textContent = 1 : null

              }else{
                  all_ranges[index].removeAttribute('disabled')
                  all_ranges[index].style.opacity = 1;
              }
              hid_constructor.value = +(history.emails + history.avito + history.tiu).toFixed(1)
              money.textContent = +(history.emails + history.avito + history.tiu).toFixed(1)

            })
        })
        
        all_ranges.forEach((item,index) => {
            item.addEventListener('change',()=> {
              all_wrappers[index].querySelector('.range-value').innerHTML = item.value;
              if(index == 0){
                  let sum = item.value * 0.20;
                  history.emails = +(sum).toFixed(1)
              }
           
              if(index == 1){
                  let sum = item.value * 0.45;
                  history.avito = +(sum).toFixed(1)
              }

              if(index == 2){
                  let sum = item.value * 0.36;
                  history.tiu = +(sum).toFixed(1)
              }

              if(index == 3){
                  let sum = item.value * 50;
                  history.templates = +(sum).toFixed(1)
              }

              if(index == 4){
                  let sum = item.value * 1000;
                  history.avg_requests = +(sum).toFixed(1)
              }


              money.textContent = +(history.emails + history.avito + history.tiu + history.avg_requests + history.templates).toFixed(1)
              hid_constructor.value = +(history.emails + history.avito + history.tiu + history.avg_requests + history.templates).toFixed(1)

            })
        })
     


    </script>
    

</body>
</html>